@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Source+Code+Pro:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

nav {
  background: white;
  text-align: center;
  font-size: 1em;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #2484f1;
}

nav h2 {
  padding: 0.5em;
}

.hero {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: calc(100vh - 7rem);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.hero .buttons {
  text-align: center;
  padding: 1em 0;
}

.hero .btn {
  font-size: 3.5em;
  cursor: pointer;
  border-radius: 0.3em;
  border: none;
  background: transparent;
}

.hero .btn:hover {
  border: 3px solid #2484f1;
  font-size: 4em;
}

.hero .reload-btn {
  text-align: center;
}

.hero .reload-btn .reload-button {
  border: 2px solid #2484f1;
  border-radius: 5em;
  font-family: Poppins;
  padding: 0.4em 1.5em;
  cursor: pointer;
}

.hero .reload-btn .reload-button:hover {
  background: #2484f1;
  color: white;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.redHeart, .heart, .greenHeart {
  position: fixed;
  font-size: 1.1rem;
  top: -3vh;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: fall 4s linear forwards;
          animation: fall 4s linear forwards;
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translateY(105vh);
            transform: translateY(105vh);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translateY(105vh);
            transform: translateY(105vh);
  }
}

.footer {
  background: #322f30;
  color: white;
}

.footer .mail {
  text-align: center;
  padding: 0.3em 0;
  font-size: 0.9em;
  font-weight: bold;
}

.footer .mail a {
  text-decoration: none;
  color: white;
}

.footer .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding: 0;
  color: white;
  margin: 0;
}

.footer .social-links a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 10px 12px;
}

.footer .social-links a:hover {
  background-color: #2484f1;
}

.footer h3 {
  margin: 0;
  text-align: center;
  font-size: 0.7em;
}

.footer h3 span {
  font-size: 1.5em;
  color: #2484f1;
}

.footer iframe {
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .redHeart, .heart, .greenHeart {
    font-size: 2rem;
  }
  nav h2 {
    font-size: 2rem;
    letter-spacing: 0.19em;
  }
  .hero {
    height: calc(100vh - 4rem);
    font-size: 1.3rem;
    padding-bottom: 1em;
  }
  .hero .reload-btn .reload-button {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=style.css.map */